<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<footer>
    <div>
            <header class="row m-0 " id="footerstyle">
                    <div id="footer-overskrift">
                        <p>
                            <br>
                            <a href="https://github.com/Eliot996/Madspild" >
                                Github-repository
                            </a>
                            <br>
                            <a href="https://github.com/Eliot996" >
                                <br> Mathias Eliot Nielsen
                            </a>
                            <a href="https://github.com/sofiaabrahamsen" >
                                <br> Sofia Emilia Abrahamsen
                            </a>
                            <a href="https://github.com/lass026q" >
                                <br> Lasse Bøgeskov-Jensen
                            </a>
                            <a href="https://github.com/H4ppyN4p" >
                                <br> Tobias Hammeken Arboe
                            </a>
                            <br>
                            <br>
                        </p>
                    </div>
            </header>
    </div>
</footer>
</body>
</html>