<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<footer>
    <div>
            <div class="row m-0 " id="footerstyle">
                    <div id="footer-overskrift">
                        <p>
                            <br>
                            <a href="https://github.com/Eliot996/Madspild" style="color: lightskyblue" >
                                Github Repository
                            </a>
                            <br>
                            <a href="https://github.com/Eliot996" style="color: lightskyblue"  >
                                <br> Mathias Eliot Nielsen
                            </a>
                            <a href="https://github.com/sofiaabrahamsen" style="color: lightskyblue">
                                <br> Sofia Emilia Abrahamsen
                            </a>
                            <a href="https://github.com/lass026q" style="color: lightskyblue">
                                <br> Lasse Bøgeskov-Jensen
                            </a>
                            <a href="https://github.com/H4ppyN4p" style="color: lightskyblue" >
                                <br> Tobias Hammeken Arboe
                            </a>
                            <br>
                            <br>
                        </p>
                    </div>
            </div>
    </div>
</footer>
</body>
</html>