<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<header id="header-box"   th:fragment="header">
    <div id="header-box-text">
        <a style="text-decoration: none" href="/">
            <h1 id="header-text">
                Wishlist Kea
            </h1>
        </a>
    </div>

    <div class="header-content-under-text">

        <section style="width: 100%" th:switch="${list.getValue()}" class="header-content-under-text">

            <div th:case="'createList'" class="create-new-list">
                <a th:href="@{/wishlists}">
                    <button class="button" id="create-new-list-button">Se dine ønskelister</button>
                </a>
            </div>
            <div th:case="'listName'"  class="create-new-list">
                <a th:href="@{/wishlists}">
                    <div class="button" id="create-new-list-button">"Liste Navn"</div>
                </a>
            </div>

        </section>


        <section style="width: 100%" th:switch="${login.getValue()}" >
            <div th:case="'login'" id="login-register-buttons">
                <div id="log-in">
                    <a th:href="@{/login}">
                        <button class="button" id="log-in-button">Log Ind</button>
                    </a>
                </div>

                <div id="register">
                    <a th:href="@{/registrer}">
                        <button class="button" id="register-button">Registrer</button>
                    </a>
                </div>
            </div>

            <div th:case="'logout'" id="login-register-buttons">
                <div id="log-in">
                    <a th:href="@{/logout}">
                        <button class="button" id="log-in-button">Log Ud</button>
                    </a>
                </div>

                <div id="register">
                    <a th:href="@{/edit}">
                        <button class="button" id="register-button">Konto</button>
                    </a>
                </div>
            </div>
        </section>
    </div>



</header>

<footer id="footerstyle" th:fragment="footer">
    <div id="footer-overskrift">
        <p>
            <br>
            <a href="https://github.com/Eliot996/WishList" style="color: lightskyblue">
                Github Repository
            </a>
            <br>
            <a href="https://github.com/Eliot996" style="color: lightskyblue">
                <br> Mathias Eliot Nielsen
            </a>
            <a href="https://github.com/sofiaabrahamsen" style="color: lightskyblue">
                <br> Sofia Emilia Abrahamsen
            </a>
            <a href="https://github.com/lass026q" style="color: lightskyblue">
                <br> Lasse Bøgeskov-Jensen
            </a>
            <a href="https://github.com/H4ppyN4p" style="color: lightskyblue">
                <br> Tobias Hammeken Arboe
            </a>
            <br>
            <br>
        </p>
    </div>
</footer>
</body>
</html>