<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <h1 id="header_text"> Wishlist Kea </h1>

    <div id="header_content_under_text">

        <div id="create_new_list">
            <button id="create_new_list_button">Lav ny liste</button>
        </div>

        <div id="login_register_buttons">
            <div id="log_in">
                <button id="log_in_button">Log Ind</button>
            </div>
            <div id="register">
                <button id="register_button">Registrer</button>
            </div>
        </div>
    </div>

</header>
</body>
</html>