<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lav ny ønskeliste</title>
    <link rel="stylesheet" th:href="@{/generalStyle.css}">
    <link rel="stylesheet" th:href="@{/registrerStyle.css}">
</head>
<body>
<div id="site_colour">
    <div id="site_container">
        <div id="content-container">

            <header th:insert="fragments/fragments.html :: header"> </header>
            <div>
                <form action="#" th:action="@{/create-wishlist}" th:object="${wishlist}" method="post">

                    <div class="container">
                        <label><b>Navn</b></label>
                        <input type="text" placeholder="Indtast navn på ønskelisten" th:field="*{name}">

                        <button type="submit">Lav Ønskeliste</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div>
        <footer th:insert="fragments/fragments.html :: footer"></footer>
    </div>
</body>

</html>