<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{generalStyle.css}">
</head>
<body>
<div id="site_colour">
    <div id="site_container">
        <div style="width: 95%">

        <header th:insert="fragments/headerFragment.html :: header"></header>
        <img id="img_style" style="margin: 20px 20px 20px 20px" src="blue-sky.jpg" height="100%" width="100%" >
    </div>
    </div>

</div>

<div>
    <footer th:insert="fragments/footerFragment.html"></footer>
</div>
</body>
</html>