<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{generalStyle.css}">
</head>
<body>
<div id="site_colour">
    <div id="site_container">
        <div id="content-container">

            <header th:insert="fragments/fragments.html :: header">

            </header>

            <div id="frontpage-image-container">
                <img class="img_style" src="pictures/blue-sky.jpg" >
            </div>
            <div class="padding-div"></div>

        </div>
    </div>
    <footer th:insert="fragments/fragments.html :: footer"></footer>

</div>


</body>
</html>