<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{generalStyle.css}">
    <link rel="stylesheet" th:href="@{listOfItemsStyle.css}">

</head>
<body>
<div id="site_colour">
    <div id="site_container">
        <div id="content-container">
            <header th:insert="fragments/fragments.html :: header"></header>
            <main id="main-container">
                <section class="section-container">
                    <div class="list-of-items-space">
                        <p> - Ting </p>
                        <p> - Link/URL </p>
                        <button id="button1" onclick="seeMore(this.id)" class="button-style button"> Se Mere</button >
                    </div>
                    <div id="about-1">

                    </div>
                    <hr>
                </section>

                <section id="section-2" class="section-container">
                    <div class="list-of-items-space">
                        <p> - Ting </p>
                        <p> - Link/URL </p>
                        <button class="button-style button"> Se Mere</button>
                    </div>

                    <hr>
                </section>

                <section id="section-3" class="section-container">
                    <div class="list-of-items-space">
                        <p> - Ting </p>
                        <p> - Link/URL </p>
                        <button class="button-style button"> Se Mere</button>
                    </div>

                    <hr>
                </section>

                <div class="padding-div"></div>
            </main>
        </div>
    </div>
</div>

<div>
    <footer th:insert="fragments/fragments.html :: footer"></footer>
</div>
<script>
    sectionOneInfo = false;

    function seeMore(sectionID){
        switch (sectionID){
            case "button1":
                if (sectionOneInfo === false){
                    document.getElementById("about-1").style.height = "50px";
                    sectionOneInfo = true;
                } else if (sectionOneInfo === true){
                    document.getElementById("about-1").style.height = "0";
                    sectionOneInfo = false
                }
                break;
        }
    }
</script>
</body>
</html>