<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{generalStyle.css}">
    <link rel="stylesheet" th:href="@{registrerStyle.css}">
</head>
<body>
<div id="site_colour">
    <div id="site_container">
        <div id="content-container">

            <header th:insert="fragments/fragments.html :: header"> </header>
            <div>
                <form action="#" th:action="@{/registrer}" th:object="${user}" method="post">

                    <div class="container">
                        <label><b>Navn</b></label>
                        <input type="text" placeholder="Navn" th:field="*{name}" required>

                        <label ><b>Email</b></label>
                        <input type="text" placeholder="Indtast email" th:field="*{email}" required>

                        <label ><b>Adgangskode</b></label>
                        <input type="password" placeholder="Indtast adgangskode" th:field="*{password}" required>

                        <button type="submit">Opret bruger</button>
                    </div>

                    <div class="container" style="background-color:white">
                        <a href="/">
                        <button type="button" class="cancelbtn">Cancel</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
</div>

<div>
    <footer th:insert="fragments/fragments.html :: footer"></footer>
</div>
</body>

</html>